<% @tweets.each do |tweet| %>
<li class="tweet" id="<%= tweet.id %>">
  <div class="quote"><%= tweet.text_codemashified %></div>
  <div class="meta"><%= tweet.from_user %> - <%= tweet.created_at_codemash_time.strftime('%Y-%m-%d %I:%M %p') %></div>
</li>
<% end %>
