html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    font-family: Arial, sans-serif;
}

h1 {
    margin: 15px 0;
    padding: 15px 20px;
    width: 400px;
    background-color: #666666;
    color: #FFFFFF;
}

h1 span {
    font-size: 0.5em;
    font-weight: normal;
}

h1 span a {
    color: #000000;
}

div#source {
    width: 400px;
    color: #FFFFFF;
    text-align: right;
}

div#source a { color: #CCCCCC; }

div#tweets {
    padding: 40px 200px;
}

div#tweets ul { list-style: none; margin: 0; padding: 0; }
div#tweets ul li { display: block; }

.tweet {
    color: #CCCCCC;
    padding-bottom: 40px;
}

.tweet div.quote {
    font-size: 2em;
    text-transform: uppercase;
}

.tweet div.quote span.hl_codemash {
    font-size: 1.5em;
    color: #FFFFFF;
    font-weight: bold;
}

.tweet div.meta {
    padding: 5px;
    background-color: #333333;
}
